.*
!.babelrc
!.editorconfig
!.eslintignore
!.eslintrc.js
!.github
!.gitignore
!.htmlvalidate.json
!.stylelintignore
!.stylelintrc.json
/coverage
/build
/dist
/node_modules
/src/config.js
/src/assets/thumbnail
/screenshots
